body {
    /* COLOR */
    --first-background-color: #2F2AB0;
    --second-background-color: #01ECCB;
    --third-background-color: #050344;

    --first-text-color: #050344;
    --second-text-color: #01ECCB;
    --third-text-color: #FFFFFF;

    --first-highlight-color: #2F2AB0;
    --second-highlight-color: #01ECCB;
}

header {
    background-color: var(--first-background-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20rem;
}

main {
    background-color: var(--second-background-color);
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 8rem;
    border-radius: 20px 20px 0px 0px;
}

.intro {
    margin-top: 6rem;

}

h1 {
    color: var(--first-text-color);
    text-align: center;
}

p {
    color: var(--second-text-color)
}
.search{
    display: flex;
    justify-content: center;
}

input {
    height: 2rem;
    width: 12rem;
    background-color: var(--second-highlight-color);
    border-radius: 5px;
    border-color: var(--first-highlight-color);
}

.filter-btn {
    height: 2rem;
    background-color: var(--first-highlight-color);
    border: none;
    border-radius: 5px;
}

.filter-icon {
    width: 2rem;
    align-self: auto;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 2.5rem;
    margin: 2rem;
}

.front-card, .back-card{
    height: 22rem;
    border-radius: 1rem;
}

.front-card {
    background-color: var(--first-background-color);
    object-fit: cover;
}

.front-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back-card {
    background-color: var(--third-background-color);
}

h2 {
    color: var(--second-text-color)
}

dl {
    color: var(--second-text-color)
}